.env
.env.prod
keys/*.pem
keys/*.key
!keys/.gitkeep
vendor/
services/*/vendor/
apps/web/node_modules/
apps/web/.next/
.idea/
.vscode/
*.log
.DS_Store
data/mysql/
data/redis/
backups/*.sql
backups/*.sql.gz
!backups/.gitkeep
u486535318_*.sql


secrets/
*.pem
!keys/*.pem.example
